# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=postgresql://devx:devxpassword@localhost:5432/devx?schema=public
EMAIL=email
EMAIL_PASSWORD=senha
EMAIL_VERIFY_SUBJECT=Email de verificação
URL_EMAIL_VERIFY=http://localhost:3000/email/checked
EMAIL_FROM='"Dexs " <dexs@dexs.com>'
EMAIL_HOST='smtp.gmail.com'
EMAIL_PORT=587
JWT_SECRET=yYl8%BIm6MEZsHaW#iO2nCQamhUAYWlh213
JWT_EXPIRES_IN=14600s
APPLICATION_COOKIE_NAME=DEXs
APPLICATION_SECRET=yYl8%BIm6MEZsHaW#iO2nCQamhUAYWlh213
STATIC_FOLDER=public
NODE_ENV=dev